src/NWalignment
src/Nnormalized_1mer.bin
src/Nnormalized_2mer.bin
src/Nnormalized_3mer.bin
src/normalized_4mer.bin
src/normalized_5mer.bin
src/normalized_6mer.bin
src/score_5mer_mod_3digit.h
src/Ecoli*
src/*.bin
src/bin/
src/10.fa
src/10.ref
src/10.sam
src/count_kmer
src/count_kmer.o
src/kmer_library_test
src/kmer_library_test.o
src/minimi
src/minimi.o
