src/NWalignment
src/Nnormalized_1mer.bin
src/Nnormalized_2mer.bin
src/Nnormalized_3mer.bin
src/normalized_4mer.bin
src/normalized_5mer.bin
src/normalized_6mer.bin

src/score_5mer_mod_3digit.h

src/Ecoli*
